body{
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1110px; /*1170px-30-30*/
    /*height: 800px;*/
    margin: 0 auto;
}

.upheader{
    height: 120px;
    background-color: #2EDFD5;
}

.upheaderwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17.5px;
    height: 90px;
    margin: 0;
}

.upheader__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.upheader__logo-text{
    margin-left: 20px;
}

.text__title1{
    padding-bottom: 10px;
    font-weight: 300;
    font-size:36px;
    color:#9511FD;
}

.text__title2{
    padding-bottom: 5px;
    font-weight:lighter;
    font-size:24px;
    font-style: italic;
    color:#CE23D1;
}

.upheader__links a{
    font-size: 24px;
    font-style: italic;
    color:#1D67F8;
    line-height: 35px;
    text-decoration: none;
}

.upheader__personaloffice a{
    color:#9511FD;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

.wrap_menu{
    height: 120px;
    background-color: #9511FD;
}

.wrap__menu_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

.menu_up, .menu_down{
    margin-top: 0px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_up ul li a, .menu_down ul li a{
    text-decoration: none;
    font-size: 24px;
    padding: 20px;
    color: white;
}

.menu_up ul li a:hover, .menu_down ul li a:hover{
    text-decoration: none;
    font-size: 24px;
    padding: 20px;
    color: rgb(216, 181, 23);
}

li{
    list-style-type: none;
}

.first{
    height: 445px;
}

.wrap_first{
    background-image: url(../img/first.png);
    background-repeat: no-repeat;
    background-position:center;
    height: 445px;
}

.wrap_first__title{
    font-size: 70px;
    font-weight: 10;
    text-align: center;
    padding-top: 60px;
}

.wrap_first__discription{
    font-size: 36px;
    font-weight: 10;
    text-align: center;
    padding-top: 10px;
}

.wrap_menu_down{
    height: 120px;
    background-color: #E408F8;
}

.menu_down ul li a{
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    color: white;
}

.about__block{
    width: 820px;
    height: 700px;
    background-color: #B16CF5;
    padding: 50px;
}

.about__block-title{
    font-size:41px;
    color:white;
    font-weight: 100;
}

.about__block-description{
    padding-top: 30px;
    font-size:20px;
    color:white;
    font-weight: 100;
    font-style:italic;
}

.about__block-link{
    padding-top: 30px;
    font-size:18px;
    color:white;
    font-weight: 100;
    
}

.about__block-form{
    background-color: white;
    margin-top: 50px;
}

.about__block-form_title{
    text-align: center;
    font-size:20px;
    padding: 15px;
    color:#B16CF5;
}

.about__block-form_box{
  width: 710px;
  margin: 0 50px;
  margin-right: 0%;
  padding: 0;
}

.about__block-form_box input{
   width: 690px;
   padding: 10px;
   margin-bottom: 30px;
   font-size: 18px;
   background-color: #E7CFFF;
   border:none;
}

button{
    margin-left: 50px;
    width: 715px;
    padding: 10px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #E408F8;
    color:white;
    border: tomato;
}

.about__block-form_textarea{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.about__block-form_textarea textarea{
    width: 690px;
    font-size: 18px;
    background-color: #E7CFFF;
    border:none;
    padding: 10px;
}

.wrap_about, .wrap_portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
}

.about, .portfolio{
    height: 800px;
}

.about__box-title{
    vertical-align: top;
    /*writing-mode: tb-rl;*/
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 50px; 
    color:#B16CF5;
    margin-top: 100px;
    margin-bottom: 50px;
}

.about__box-more{
    text-align: center;
    font-size: 24px;
    color:#B16CF5;
    text-decoration: none;
    margin-bottom: 50px;
}

.about__box-more a{
    text-align: center;
    font-size: 24px;
    color:#B16CF5;
    text-decoration: none;
}

footer{
    
    background-color: #2EDFD5;
}

.wrap_footer{
    display: -webkit-flex;
    display: f;
    justify-content: space-between;
    align-items: center;
}